@model URL
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        if (Model != null)
        {
            <h5>@Model.LongUrl</h5> 
            <h5>Короткий url:@Model.Token</h5>
        }
    }
</div>